
body {
    padding: 10%;
    font-size: 2rem;
    font-family: Roboto, sans-serif;
}

/* main {
    opacity: 0.4;
} */

a {
    /* text-decoration: none; */
    /* cursor: not-allowed; */
    cursor: pointer;
}

a:visited {
    color: purple;
}

 a:hover, a:focus {
    color: dodgerblue;
    background-color: gold;
}

/* sudo class represent the current state of the element */
a:active {
    color: red;
}

