 * {
    font-family: monospace;
 }
body {
    font-size: 22px;
}

p {
    color: purple;
}

.gray {
    color: gray;
}

#second {
    font-style: italic;
}

p span {
    text-transform: uppercase;
    background-color: gold;
}