body {
    padding: 5% 10%;
    font-size: 2rem;
    font-family: sans-serif;
}

ol {
    list-style-type: lower-alpha;
    list-style-position: inside;
}

ul {
    list-style-type: square;
    list-style-position: inside;
}

ul li:nth-child(2) {
    color: red;
}

ul ::marker {
    color: red;
    content: "Only $5 >> ";
}
