/* Does not cause inheritance but rather selects all elements */
/*Universal selector*/
/* * {
    font-family: monospace;
} */

/* class has more specificity than an element selector. CSS follows what is more specific */

html {
        font-size: 22px;
}

body {
    
    border: 3px solid black;
}

main {
    font-family: monospace;
}

h1, h2 {
    color: blue;
}

p {
    color: purple;
}

p span {
    text-transform: uppercase;
    background-color: gold;
}

.gray {
    color: gray;
}

/* ids should exist once in an html document, they shld be unique, not good practice to use them in css*/
#second { 
    font-style: italic;
}


/* DRY dont repeat yourself */

 