
body {
    font-size: 22px;
    font-family: sans-serif;
    line-height: 1.5;
    background-color: papayawhip;
    /* color: darkblue; */
    /* color: rgb(0, 255, 0); */
    color: rgba(0,0,0,0.5); /*This has an alpha channel that guides the transparency*/
}

/* hsl (hue saturation, lightness) */